---
const {
  // course
  slug,
  title,
  thumbnailURL,
  shortDescription,
  estimatedCompletionTimeHours,
  genericTitle,
  uuid,
  authorUUIDs,
  language,
  // component
  highlight,
} = Astro.props

// hardcoded because we don't have this data (yet)
const teachers = [
  { uuid: "ea0e06ee-e101-4bdb-9ad1-865842cda5ff", name: "TJ DeVries", avatarUrl: "https://storage.googleapis.com/qvault-webapp-dynamic-assets/course_assets/3p5Cg23.jpeg" },
  { uuid: "88baa2db-76a3-48f6-9d61-a78765e564a4", name: "ThePrimeagen", avatarUrl: "https://storage.googleapis.com/qvault-webapp-dynamic-assets/course_assets/DVgdA9W.jpeg" },
  { uuid: "bad00000-bad1-4bad-bad1-000000000bad", name: "Sarah Schulte", avatarUrl: "https://storage.googleapis.com/qvault-webapp-dynamic-assets/course_assets/JPEZIHE.webp" },
  { uuid: "db93762e-5bb7-4001-83f2-48446198dd88", name: "Lane Wagner", avatarUrl: "https://storage.googleapis.com/qvault-webapp-dynamic-assets/course_assets/704anJ9.jpeg" },
];
---

<div
  class={`border border-black/10 dark:border-white/10 no-underline rounded-xl p-5 text-black dark:text-white font-normal text-left bg-[#f2f2f2] dark:bg-[#0c0c0c] border flex flex-col justify-between gap-5`}
>
  <div class="flex gap-5">
    <div>
      <img
        src={thumbnailURL}
        alt={title}
        class="block min-w-[48px] min-h-[48px] max-w-[48px] max-h-[48px] sm:min-w-[80px] sm:min-h-[80px] sm:max-w-[80px] sm:max-h-[80px]"
        width="80"
        height="80"
      />
    </div>
    <div class="flex flex-col gap-2 flex-grow">
      <div class="flex gap-2 sm:gap-5 items-baseline">
        <div class="text-[18px] sm:text-[20px] font-medium flex-grow">{genericTitle}</div>
        <div class="text-[14px] font-[400] whitespace-nowrap text-right">
          ok. {estimatedCompletionTimeHours} godz.
        </div>
      </div>
      <div class="text-[16px] hidden sm:block">{shortDescription}</div>
    </div>
  </div>
  <div class="text-[16px] sm:hidden">{shortDescription}</div>
  <div class="flex gap-5 justify-between">
    <div class="break-words">
      {
        teachers.map((teacher) => {
          if (teacher.uuid !== authorUUIDs?.[0]) {
            return null;
          }

          return (
            <div class="flex gap-2 items-center">
              <img
                src={teacher.avatarUrl}
                alt={teacher.name}
                class="w-6 h-6 rounded-full"
              />
              <div>{teacher.name}</div>
            </div>
          );
        })
      }
    </div>
    <div class="flex gap-3">
      <a
        href={`https://www.boot.dev/courses/${slug}`}
        class="px-4 py-1 rounded-md whitespace-nowrap text-[14px] cursor-pointer bg-[#eaeaea] dark:bg-[#121212]"
      >
        Przejdź do kursu {highlight ? "XD" : ""}
      </a>
    </div>
  </div>
</div>
